    header {
      text-align: center;
      background: url("http://cdn.pcwallart.com/images/solid-color-orange-wallpaper-3.jpg");
      background-size: cover;
      color: white;
    }
    .nav {
      color: white;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px #1097A7;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 30px;
        font-family: Georgia;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
